.content {
    margin-top: 27px;
    font-size: 14px;
}
.content-top {
    border-top: 2px solid #e9e9e9;
}

.page-width {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}
.ovh {
    overflow: hidden;
}
.sites {
    width: 80%;
    padding: 11px 0 9px 30px;
}
.mod {
    border: 1px solid #cecece;
}
.mt10 {
    margin-top: 10px;
}
ul{
    display: block;
    padding: 0;
    list-style: none;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
}
.sites .site {
    width: 110px;
    line-height: 32px;
}
.clr-black {
    color: #1c1c1c;
}
.clr-black:hover {
    color: #0000d0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}